
@media (max-width: 1024px) {
    .nav .nav_items li a .angle,
    .nav .nav_items .login span {
        display: none;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        border-radius: 0 30px 0 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .home .background {
        margin-top: 20px;
    }
    .home .background img {
        height: 360px;
        display: flex;
        align-items: end;
    }
    .home .background .smallview,
    .home .background .supersmall{
    display: none;
}

    .content h1 {
        font-size: 2.5rem;
    }

    .content p {
        font-size: 1rem;
    }

    .actions {
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .bike_buttons {
        bottom: 0px;
        transform: translateX(-50%);
}

    .search-bar {
        display: none;
    }

        #brands h2 {
        font-size: 1.8rem;
    }

    .marquee img {
        height: 80px;
    }

    .product_grid {
        gap: 40px;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        padding: 10px;
    }
    .product_item {
        background: #fff;
        border-radius: 10px;
        width: 300px; 
        height: 350px;
        padding: 5px;
    }
    .product_item .image img {
        width: 100%;
        height: 180px; 
        object-fit: contain;
        border-radius: 8px;
    }
    .product_info {
        padding: 10px;
    }
   
    
    .product_info .heads {
        gap: 10px;
    }

    .marketing_section .image {
        width: 90%;
        height: 300px;
        margin: auto;
        background-color: black;
    }

    .marketing_section .marketing_text {
        width: 55%; 
    }

    .marketing_text h3 {
        font-size: 2rem; 
        margin-bottom: 10px;
    }

    .marketing_text p {
        font-size: 18px; 
    }

    .marketing_text a {
        font-size: 18px; 
    }

    .news_grid,
    .event_grid {
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        gap: 20px; 
    }
    .app_section .image{
        width: 500px;
        height: auto;
        margin: auto;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }
    .app_section .app_contain{
        width: 50%;
        padding: 5px;
    }
    .app_section .app_contain .app_head h2{
        font-size: 38px;
    }
    .app_section .app_contain .app_head p{
        font-size: 22px
    }
    .contact_form{
        width: 50%;
    }
    .contact_map{
        width: 40%;
    }
    .contact_map iframe{
        width: 100%;

    }

    .footer_right{
        margin: auto;
        margin-top: 58px;
        justify-content: space-between;
        padding: 0;
    }
    .footer_menu .footer_menu_head{
        font-size: 16px;
        margin-bottom: 20px;
    }
        .footer_menu .footer_links{
        /* margin-left: 10px; */
        font-size: 12px;
        }
        
    .copywright{
        text-align: center;
        padding: 6px;
        font-size: 18px;
    }
}


@media (max-width: 854px) {
    .home .background .bigview,
    .home .background .supersmall{
    display: none;
}
.home .background .smallview{
    display: flex;
}
    .content {
        width: 50%;
        top: 10%;
    }   
     /* Filter and product responsive */

     .filter_section {
        width: 80%; 
        height: 100%;
        background-color: #f9f9f9f8; 
        border-radius: 10px;
        padding: 15px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
        position: fixed; 
        top: 0; 
        left: 0; 
        transform: translateX(-100%); 
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
        z-index: 10000; 
    }
    
    .filter_section.show {
        transform: translateX(0); 
    }
    .close_button {
        display: flex;
        background: none;
        border: none;
        font-size: 1.5rem;
        font-weight: bold;
        color: #444;
        cursor: pointer;
        transition: color 0.2s ease;
    }
    
    .close_button:hover {
        color: #ff0000;
    }
    .filter_section .filter_head .filter_icon{
        display: none;
    }
    .filter_head h2 {
        font-size: 1.2rem;
    }
    .filter_items .items .heading h3 {
        font-size: 1rem;
    }
    .filter_items .items .filter_type .checkbox label {
        font-size: 1rem;
    }
    .filter_items .items .filter_type input[type="text"]{
        width: 100%;
        height: 20px;
    }
.product_section {
    width: 100%;
    margin: auto;
    padding: 5px;
}
.product_section .head{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.product_section .head h1 {
    font-size: 1.5rem;
}
.product_section .head .fillter_btn {
    display: flex;
    border: none;
    background-color: transparent;
}
.product_grid {
    gap: 40px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    padding: 10px;
}
.product_item {
    background: #fff;
    border-radius: 10px;
    width: 130px; 
    height: 150px;
    padding: 5px;
}
.product_item .image img {
    width: 100%;
    height: 60px; 
    object-fit: contain;
    border-radius: 8px;
}
.product_info {
    padding: 10px;
}

.product_info h3 {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.product_info .price {
    font-size: 0.5rem;
    margin-bottom: 5px;
}

.product_info .heads {
    gap: 10px;
}
.product_info .heads i{
    height: 12px;
    font-size: 10px;
}

.product_info p {
    font-size: 0.3rem;
}
.product_info .heads .icon svg{
    width: 12px;
    height: 12px;
}
.about_section .about_head {
    width: 50%;
    position: absolute;
    top: 10%;
    right: 15px;
    z-index: 4;
    color: #ececec;
    text-align: left;
}
}


@media (max-width: 768px) {

    /* Nav responsive */

   .nav {
        flex-direction: row;
        justify-content: space-between;
}

.nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.nav .hamburger span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: black;
    border-radius: 2px;
}

.nav .nav_items {
    position: fixed;
    top: 0;
    left: -130%;
    height: 100%;
    width: 60%;
    background-color: #f2f2f2f7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    transition: left 0.3s ease;
    z-index: 10000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.nav .nav_items.active {
    left: 0;
    overflow: hidden;
}

.nav .nav_items ul {
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}


.nav .nav_items li a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    width: 100%;
    transition: color 0.3s ease;
}

.nav .nav_items li a:hover {
    color: red;
}

.nav_items .close {
    display: flex;
    font-size: 34px;
    align-self: flex-end;
    cursor: pointer;
    color: black;
    font-weight: 800;
}

/* Home responsive */

.home .background {
    height: 100%;
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
}
.home .background img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
    opacity: 0.4;
}
.home .background .bigview{
    display: none;
}
.content {
    width: 90%;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 2;
    color: #fff;
}
.content h1 {
    font-size: 1.5rem;
}

.content p {
    width: 70%;
    font-size: 1rem;
    text-align: justify;
}

.actions {
    width: 100%;
    display: flex;

}
.actions .btn {
    padding: 3px;
    font-size: 12px;
    align-items: center;
}
.actions .customer-count{
    font-size: 10px;
}


.bike_buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}
.bike_buttons .btn{
    padding: 2px 10px;
    font-size: 0.8rem;
}

.search-bar {
    display: none;
}

/* .search-item input,
.search-item select {
    width: 45%;
} */

#brands {
margin: 40px 0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-341%); 
 
    }
}
/* Filter and product responsive */
/* .filter_section{
    display: none;
} */
.product_section {
    width: 100%;
    margin: auto;
    padding: 5px;
}
.product_section .head{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.product_section .head h1 {
    font-size: 1.5rem;
}
.product_section .head .fillter_btn {
    display: flex;
    border: none;
    background-color: transparent;
}
.product_grid {
    gap: 40px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    padding: 10px;
}
.product_item {
    background: #fff;
    border-radius: 10px;
    width: 130px; 
    height: 150px;
    padding: 5px;
}
.product_item .image img {
    width: 100%;
    height: 60px; 
    object-fit: contain;
    border-radius: 8px;
}
.product_info {
    padding: 10px;
}

.product_info h3 {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.product_info .price {
    font-size: 0.5rem;
    margin-bottom: 5px;
}

.product_info .heads {
    gap: 5px;
}
.product_info .heads i{
    height: 14px;
    font-size: 12px;
}

.product_info p {
    font-size: 0.4rem;
}
.product_info .heads .icon svg{
    width: 14px;
    height: 14px;
}


/* Marketing Responsive */
.marketing_section .image {
    width: 90%;
    height: 280px;
    margin: auto;
    background-color: black;
}
.marketing_section .marketing_text {
    width: 60%; 
}


/* news Responsive */
.news_section .news_head,
    .event_section .event_head {
        font-size: 1.2rem; 
    }

    .news_grid,
    .event_grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        gap: 20px; 
    }

    .latest_news {
        width: 300px;
        height: 150px;
    }
    .our_events {
        width: 300px;
    }
    .news_grid .image{
        height: 80px;
    }

    .news_info .date {
        font-size: 1rem; 
    }

    .news_content {
        font-size: 12px; 
    }

    .news_section .show_more a,
    .event_section .show_more a {
        font-size: 18px; 
    }

    /* About Responsive */
    .about_section {
        margin: 50px auto;
        height: 250px;

    }
    .about_us .image {
        width: 250px;
        height: auto;
        position: absolute;
        top: -35%;
        left: 5%;
        z-index: 3;
        transform: rotate(-5deg);
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }
    .about_section .about_head {
        width: 50%;
        position: absolute;
        top: 10%;
        right: 5%;
        z-index: 4;
        color: #ececec;
        text-align: left;
    }

    .about_section .about_head h2 {
        font-size: 1.6rem;
    }

    .about_section .about_head p {
        font-size: 0.85rem;
    }

    .about_section .learn_more {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .app_section .image{
        width: 500px;
        height: auto;
        margin: auto;
        margin-bottom: 0px;
        display: flex;
        align-items: center;
    }
    .app_section .app_contain{
        width: 50%;
        padding: 5px;
    }
    .app_section .app_contain .app_head h2{
        font-size: 34px;
    }
    .app_section .app_contain .app_head p{
        font-size: 18px
    }

    
/* Contact Responsive */
.contact_form{
    width: 90%;
    margin: 0 auto;
    }
    .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    .btn-submit{
    width: 50%;
    padding: 10px;
    
    }
    
    .btn-submit:hover {
    background-color: #0056b3;
    }
    .location{
    display: flex;
    width: 40%;
    padding:10px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    }
    .submit a i{
    margin-left: 5px;
    }
    
    .contact_map{
    display: none;
    }
    /* footer responsive  */

    .footer{
        flex-direction: column;
        }
    .footer_left{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin: auto;
    }
    .footer_containt{
        display: none;
    }
    .footer_icons{
        font-size: 25px;
        gap: 20px;
    }
    .footer_right{
        margin: auto;
        margin-top: 10px;
        justify-content: space-between;
        padding: 0;
    }
    .footer_menu .footer_menu_head{
        font-size: 16px;
        margin-bottom: 20px;
    }
        .footer_menu .footer_links{
        /* margin-left: 10px; */
        font-size: 12px;
        }
        
    .copywright{
        text-align: center;
        padding: 6px;
        font-size: 16px;
    }


}



/* ------------ width 480px ------------ */

@media (max-width: 480px) {
   

    .content h1 {
        font-size: 1rem;
    }

    .content p {
        width: 80%;
        font-size: 0.7rem;
    }
    .actions{
        margin: auto;
    }
    .customer-count{
        display: none;
    }
    .product_grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding: 10px;
    }

    .home .background {
        height: 100%;
        background-image: linear-gradient(To bottom,black, rgb(50, 50, 50));
        border-radius: 10px;
        margin-top: 10px;
    }
    .home .background img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        object-fit: contain;
    }
    /* .home .background .smallview{
        display: flex;
    } */

    @keyframes scroll-left {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-283%); 
     
        }
    }


/* Marketing responsive */
.marketing_section .image {
    width: 90%;
    height: 200px;
    margin: auto;
    background-color: black;
}
.marketing_section .image img {
    display: none;
}



.marketing_section .marketing_text {
    width: 90%; 
    left: 5%; 
    top: 5%; 
}

.marketing_text h3 {
    font-size: 1.5rem; 
}

.marketing_text p {
    font-size: 14px; 
}

.marketing_text a {
    font-size: 14px; 
    padding: 6px 12px; 
}

/* News Responsive */
.news_section .news_head,
    .event_section .event_head {
        font-size: 1.5rem; 
    }

    .news_grid,
    .event_grid {
        grid-template-columns: repeat(2,minmax(150px, 1fr)); 
        gap: 15px; 
    }

    .latest_news,
    .our_events {
        width: 130px;
        padding: 8px; 
    }

    .news_info .date {
        font-size: 0.9rem; 
        padding: 8px 12px; 
    }

    .news_content {
        font-size: 8px; 
    }

    .news_section .show_more a,
    .event_section .show_more a {
        font-size: 16px; 
    }
/* aobut Responsive */
.about_section {
    margin: 80px auto;
    height: 300px;

}
.about_us .image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform: rotate(0deg);
}
.about_us:hover .image{
    transform: none;
}
.about_us .image img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    opacity: 0.2;
}

.about_section .about_head {
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.about_section .about_head h2 {
    font-size: 1.4rem;
}

.about_section .about_head p {
    font-size: 0.8rem;
}

.about_section .learn_more {
    font-size: 0.85rem;
    padding: 6px 14px;
}
.our_events .title{
    font-size: 12px;
}
.our_events .description{
    font-size: 10px;
}
.our_events .readmore a{
    font-size: 10px;

}

.app_section{
flex-direction: column;
}

.app_section .image{
width: 300px;
height: auto;
margin: auto;
margin-bottom: 0px;
}

.app_section .app_contain{
width: 100%;
padding: 5px;
}
.app_section .app_contain .app_head h2{
font-size: 20px;
margin:10px 0;
}
.app_section .app_contain .app_head p{
display: none;
}
.app_section .app_contain .app_buttons{
gap: 20px;
}
.app_section .app_contain .app_buttons a{
font-size: 12px;
text-align: center;
padding: 10px;

}



/* footer responsive */
.footer_logo{
width: 150px;
}
.footer_icons{
font-size: 14px;
gap: 10px;
}
.footer_menu .footer_menu_head{
font-size: 8px;
margin-bottom: 20px;
}
.footer_menu .footer_links{
/* margin-left: 10px; */
font-size: 7px;
}

.copywright{
font-size: 14px;
}



    
} 

@media (max-width: 400px) {
    .home .background{
        height: 100%;
        margin: auto;
        margin-top: 15px;
    }
    .home .background img {
        height: auto;
        border-radius: 10px;
        object-fit: contain;
        opacity: 0.3;
    }
    .home .background .supersmall{
    display: flex;
    margin: auto;
}
    .home .background .smallview{
        display: none;
    }
    .content {
        width: 90%;
        position: absolute;
        top: 10%;
        left: 5%;
        z-index: 2;
        color: #fff;
    }
    .content h1 {
        font-size: 1.2rem;
    }
    .content p{
        width: 95%;
        /* font-size: 1.2rem; */
    }
    /* Brands responsive */

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-325%); 
    }
}
.filter_head h2 {
    font-size: 1rem;
}
.filter_items .items .heading h3 {
    font-size: 0.8rem;
    margin-bottom: 10px;

}
.filter_items .items .filter_type .checkbox label {
    font-size: 0.7rem;
}
.line {
    margin-top: 10px;
}

.marketing_section{
    height: auto;

}
.location{
    padding:10px;

}
}
@media (max-width:360px){
    .marketing_section .image {
        width: 90%;
        height: 250px;
        margin: auto;
        background-color: black;
    }
}





