@media (max-width: 768px) {

    /* Nav responsive */

   .nav {
        flex-direction: row;
        justify-content: space-between;
}

.nav .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    cursor: pointer;
}

.nav .hamburger span {
    display: block;
    height: 3px;
    width: 25px;
    background-color: black;
    border-radius: 2px;
}

.nav .nav_items {
    position: fixed;
    top: 0;
    left: -50%;
    height: 100%;
    width: 30%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    transition: left 0.3s ease;
    z-index: 10000;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
}

.nav .nav_items.active {
    left: 0; 
}

.nav .nav_items ul {
    flex-direction: column;
    gap: 15px;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.nav .nav_items li a .angle {
    display: none;
}
.nav .nav_items li a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    width: 100%;
    transition: color 0.3s ease;
}

.nav .nav_items li a:hover {
    color: red;
}

.nav_items .close {
    display: flex;
    font-size: 34px;
    align-self: flex-end;
    cursor: pointer;
    color: black;
    font-weight: 800;
}

/* Home responsive */

.home .background {
    height: 250px;
    background-color: black;
    border-radius: 10px;
}
.home .background img {
    height: 300px;
    border-radius: 10px;
    object-fit: contain;
}
.content {
    width: 60%;
    position: absolute;
    top: 15%;
    left: 5%;
    z-index: 2;
    color: #fff;
}
.content h1 {
    font-size: 1.5rem;
}

.content p {
    font-size: 1rem;
    text-align: justify;
}

.actions {
    width: 100%;
    display: flex;

}
.actions .btn {
    padding: 5px;
    font-size: 12px;
    align-items: center;
}
.actions .customer-count{
    font-size: 10px;
}


.bike_buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}
.bike_buttons .btn{
    padding: 5px 10px;
    font-size: 0.8rem;
}

.search-bar {
    display: none;
}

/* .search-item input,
.search-item select {
    width: 45%;
} */

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-340%); 
    }
}
/* Filter and product responsive */
.filter_section{
    display: none;
}
.product_section {
    width: 100%;
    margin: auto;
    padding: 5px;
}
.product_section .head{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.product_section .head h1 {
    font-size: 1.5rem;
}
.product_section .head .fillter_btn {
    display: flex;
    border: none;
    background-color: transparent;
}
.product_grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 10px;
}
.product_item {
    background: #fff;
    border-radius: 10px;
    width: 130px; 
    height: 150px;
    padding: 5px;
}
.product_item .image img {
    width: 100%;
    height: 60px; 
    object-fit: contain;
    border-radius: 8px;
}
.product_info {
    padding: 10px;
}

.product_info h3 {
    font-size: 0.8rem;
    margin-bottom: 8px;
}

.product_info .price {
    font-size: 0.5rem;
    margin-bottom: 5px;
}

.product_info .heads {
    gap: 10px;
}
.product_info .heads i{
    height: 12px;
    font-size: 10px;
}

.product_info p {
    font-size: 0.3rem;
}
.product_info .heads .icon svg{
    width: 12px;
    height: 12px;
}


/* Marketing Responsive */

.marketing_section .marketing_text {
    width: 80%; 
    top: 10%; 
}

.marketing_text h3 {
    font-size: 1.8rem; 
}

.marketing_text p {
    font-size: 16px; 
}

.marketing_text a {
    font-size: 16px; 
    padding: 8px 16px;
}

/* news Responsive */
.news_section .news_head,
    .event_section .event_head {
        font-size: 1.2rem; 
    }

    .news_grid,
    .event_grid {
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        gap: 20px; 
    }

    .latest_news,
    .our_events {
        width: 130px;
    }

    .news_info .date {
        font-size: 1rem; 
        padding: 8px 12px; 
    }

    .news_content {
        font-size: 12px; 
    }

    .news_section .show_more a,
    .event_section .show_more a {
        font-size: 18px; 
    }

    /* About Responsive */
    .about_section {
        margin: 50px auto;
    }

    .about_section .about_head h2 {
        font-size: 1.6rem;
    }

    .about_section .about_head p {
        font-size: 0.85rem;
    }

    .about_section .learn_more {
        font-size: 0.9rem;
        padding: 8px 16px;
    }


}


/* ------------ width 480px ------------ */

@media (max-width: 480px) {
   

    .content h1 {
        font-size: 1rem;
    }

    .content p {
        font-size: 0.7rem;
    }
    .actions{
        margin: auto;
    }
    .customer-count{
        display: none;
    }

    /* Brands responsive */
.marquee {
    display: flex;
    gap: 30px;
    animation: scroll-left 14s linear infinite;
    will-change: transform;
}
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-390%); 
    }
}

/* Marketing responsive */
.marketing_section .image {
    width: 90%;
    height: 250px;
    margin: auto;
    background-color: black;
}
.marketing_section .image img {
    display: none;
}


.marketing_section .marketing_text {
    width: 90%; 
    left: 5%; 
    top: 5%; 
}

.marketing_text h3 {
    font-size: 1.5rem; 
}

.marketing_text p {
    font-size: 14px; 
}

.marketing_text a {
    font-size: 14px; 
    padding: 6px 12px; 
}

/* News Responsive */
.news_section .news_head,
    .event_section .event_head {
        font-size: 1.5rem; 
    }

    .news_grid,
    .event_grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px; 
    }

    .latest_news,
    .our_events {
        /* width: 100%;  */
        padding: 8px; 
    }

    .news_info .date {
        font-size: 0.9rem; 
    }

    .news_content {
        font-size: 8px; 
    }

    .news_section .show_more a,
    .event_section .show_more a {
        font-size: 16px; 
    }
/* aobut Responsive */
.about_section {
    margin: 80px auto;
}
.about_us .image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transform: rotate(0deg);
}
.about_us:hover .image{
    transform: none;
}
.about_us .image img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
    opacity: 0.2;
}

.about_section .about_head {
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
}

.about_section .about_head h2 {
    font-size: 1.4rem;
}

.about_section .about_head p {
    font-size: 0.8rem;
}

.about_section .learn_more {
    font-size: 0.85rem;
    padding: 6px 14px;
}

    
} 



/* 
@media (max-width: 1024px) {
    .home .background img {
        height: 400px;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .content p {
        font-size: 1rem;
    }

    .actions {
        flex-direction: column;
        align-items: flex-start;
    }

    .bike_buttons {
        bottom: 30px;
    }

    .search-bar {
        bottom: -20px;
        width: 90%;
        padding: 8px 20px;
    }

    .search-item input,
    .search-item select {
        width: 50%;
    }


        #brands h2 {
        font-size: 1.8rem;
    }

    .marquee img {
        height: 80px;
    }


         .marketing_section .marketing_text {
        width: 60%; 
    }

    .marketing_text h3 {
        font-size: 2rem; 
    }

    .marketing_text p {
        font-size: 18px; 
    }

    .marketing_text a {
        font-size: 18px; 
    }


    .about_section {
        flex-direction: column;
        text-align: center;
    }

    .about_section .about_head {
        width: 90%;
    }

    .about_section .about_head h2 {
        font-size: 1.8rem;
    }

    .about_section .about_head p {
        font-size: 0.9rem;
    }
}*/
